<div id="loader-wrapper" *ngIf="loading">
  <div id="loader"></div>
</div>
<div class="alertDiv">
  <app-alert></app-alert>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="notification">
      <!-- <h3>Notifications</h3> -->
      <div class="notificationFields" style="text-align:right">
        <form class="form-horizontal" (ngSubmit)="onSubmit()" #notificationForm="ngForm">
          <!-- <div class="form-group row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">Agency Type:</label>
                </div>
                <!-- <div class="col-sm-5 col-7">
                  <div class="controls">
                    <select class="form-control" name="psap.type" [(ngModel)]="psap.type"  required
                    #_screen="ngModel">
                    <option [ngValue]="null">--Select Agency Type--</option>
                    <option *ngFor="let type of agencyTypes;let i = index;" [ngValue]="type">{{type.name}}</option>
                  </select>
                  <!-- <span class="help-block" *ngIf="!type.valid && type.touched">Please enter a type</span> -->
                  <!-- </div> -->
                <!-- </div> --> 
              <!-- </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">Test PSAP:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <div class="controls">
                    <div class="input-group">
                      <input type="checkbox" name="psap.test" [(ngModel)]="psap.test" class="testPSAP"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> --> 
          
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4 col-5">
                  <label class="col-form-label" for="appendedInputButton">Phone Number:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <input class="form-control" type="text" class="form-control" name="testcase.accessNumber" [(ngModel)]="testcase.accessNumber" [attr.disabled]="''">
                  <!-- <span class="help-block" *ngIf="!_username.valid && _username.touched">Please enter a DID</span> -->
                </div>
              </div>            
            </div>
            
          </div>

          <div class="form-group row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4 col-5">
                    <label class="col-form-label" for="appendedInputButton">Main PSAP:</label>
                  </div>
                  <div class="col-sm-5 col-7">
                    <div class="controls">
                      <div class="input-group">
                        <input class="form-control" type="text" class="form-control" name="testcase.selectedPSAP.name" [(ngModel)]="testcase.selectedPSAP.name" [attr.disabled]="''">
                        <input name="options" ng-control="options" type="radio" [value]="2" style="margin-left: 10px;margin-top: 10px;">
                        <!-- <span class="help-block" *ngIf="!_password.valid && _password.touched">Please enter a PSAP</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="form-group row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5">
                    <label class="col-form-label" for="appendedInputButton">Access Number 1:</label>
                  </div>
                  <div class="col-sm-1"><input type="checkbox"  class="testPSAP" /></div>
                  <div class="col-sm-5">
                    <input class="form-control" type="Email" class="form-control" name="testcase.selectedPSAP.accessnumber1" [(ngModel)]="testcase.selectedPSAP.accessnumber1" required #_accessnumber1="ngModel">
                    <span class="help-block" *ngIf="!_accessnumber1.valid && _accessnumber1.touched">Please enter access number</span>
                    
                  </div>
                  
  
                </div>            </div>
                
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5" >
                    <label class="col-form-label" for="appendedInputButton">Access Number 2:</label>
                  </div>
                  <div class="col-sm-1"><input type="checkbox"  class="testPSAP" /></div>
                  <div class="col-sm-5">
                    <div class="controls">
                      <div class="input-group">
                        <input class="form-control" type="Email" class="form-control" name="testcase.selectedPSAP.accessnumber2" [(ngModel)]="testcase.selectedPSAP.accessnumber2"  #_accessnumber2="ngModel">
                        <!-- <span class="help-block" *ngIf="!_accessnumber2.valid && _accessnumber2.touched">Please enter access number</span> -->
                        <!-- <input type="checkbox"  class="testPSAP"/> -->
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!-- <div class="col-sm-1"></div> -->
              <div class="col-sm-2">
                  <div class="row">
                    <div class="col-sm-9"  style="text-align: right; margin-left: -25px">
                      <label class="col-form-label" for="appendedInputButton">Round Robin:</label>
                    </div>
                    <div class="col-sm-2">
                      <div class="controls">
                        <div class="input-group">
                          <input type="checkbox"  class="testPSAP"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

          <div class="form-group row">
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-5">
                  <label class="col-form-label" for="appendedInputButton">A Side IP VPN:</label>
                </div>
                <div class="col-sm-1"><input type="checkbox"  class="testPSAP" /></div>
                <div class="col-sm-5">
                  <input class="form-control" type="text" class="form-control" name="testcase.selectedPSAP.asideipvpn" [(ngModel)]="testcase.selectedPSAP.asideipvpn" required #_asideipvpn="ngModel">
                  <span class="help-block" *ngIf="!_asideipvpn.valid && _asideipvpn.touched">Please enter VPN Info</span>
                  
                </div>
                

              </div>            </div>
              
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-5" >
                  <label class="col-form-label" for="appendedInputButton">B Side IP VPN:</label>
                </div>
                <div class="col-sm-1"><input type="checkbox"  class="testPSAP" /></div>
                <div class="col-sm-5">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control" type="text" class="form-control" name="testcase.selectedPSAP.bsideipvpn" [(ngModel)]="testcase.selectedPSAP.bsideipvpn" #_bsideipvpn="ngModel">
                      <!-- <span class="help-block" *ngIf="!_code.valid && _code.touched">Please enter Agency Code</span> -->
                      <!-- <input type="checkbox"  class="testPSAP"/> -->
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-2">
                <div class="row">
                  <div class="col-sm-9"  style="text-align: right;; margin-left: -25px">
                    <label class="col-form-label" for="appendedInputButton">Round Robin:</label>
                  </div>
                  <div class="col-sm-2">
                    <div class="controls">
                      <div class="input-group">
                        <input type="checkbox"  class="testPSAP"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4 col-5">
                    <label class="col-form-label" for="appendedInputButton">Alternate PSAP:</label>
                  </div>
                  <div class="col-sm-5 col-7">
                    <div class="controls">
                      <div class="input-group">
                        <input class="form-control" type="text" class="form-control" name="testcase.alternatePSAP.name" [(ngModel)]="testcase.alternatePSAP.name" [attr.disabled]="''">
                        <input name="options" ng-control="options" type="radio" [value]="2" style="margin-left: 10px;margin-top: 10px;">
                        <!-- <span class="help-block" *ngIf="!_password.valid && _password.touched">Please enter a PSAP</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="form-group row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5">
                    <label class="col-form-label" for="appendedInputButton">Access Number 1:</label>
                  </div>
                  <div class="col-sm-1"><input type="checkbox"  class="testPSAP" /></div>
                  <div class="col-sm-5">
                    <input class="form-control" type="Email" class="form-control" name="testcase.alternatePSAP.accessnumber1" [(ngModel)]="testcase.alternatePSAP.accessnumber1" required #_accessnumber1="ngModel">
                    <span class="help-block" *ngIf="!_accessnumber1.valid && _accessnumber1.touched">Please enter access number</span>
                    
                  </div>
                 
                </div>            </div>
                
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5" >
                    <label class="col-form-label" for="appendedInputButton">Access Number 2:</label>
                  </div>
                  <div class="col-sm-1"><input type="checkbox"  class="testPSAP" /></div>
                  <div class="col-sm-5">
                    <div class="controls">
                      <div class="input-group">
                        <input class="form-control" type="Email" class="form-control" name="testcase.alternatePSAP.accessnumber2" [(ngModel)]="testcase.alternatePSAP.accessnumber2"  #_accessnumber2="ngModel">
                        <!-- <span class="help-block" *ngIf="!_accessnumber2.valid && _accessnumber2.touched">Please enter access number</span> -->
                        <!-- <input type="checkbox"  class="testPSAP"/> -->
                      </div>
                    </div>
                  </div>
                                  </div>
              </div>
              <!-- <div class="col-sm-1"></div> -->
              <div class="col-sm-2">
                  <div class="row">
                    <div class="col-sm-9"  style="text-align: right; margin-left: -25px">
                      <label class="col-form-label" for="appendedInputButton">Round Robin:</label>
                    </div>
                    <div class="col-sm-2">
                      <div class="controls">
                        <div class="input-group">
                          <input type="checkbox"  class="testPSAP"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

          <div class="form-group row">
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-5">
                  <label class="col-form-label" for="appendedInputButton">A Side IP VPN:</label>
                </div>
                <div class="col-sm-1"><input type="checkbox"  class="testPSAP" /></div>
                <div class="col-sm-5">
                  <input class="form-control" type="text" class="form-control" name="testcase.alternatePSAP.asideipvpn" [(ngModel)]="testcase.alternatePSAP.asideipvpn" required #_asideipvpn="ngModel">
                  <span class="help-block" *ngIf="!_asideipvpn.valid && _asideipvpn.touched">Please enter VPN Info</span>
                  
                </div>
            
              </div>            </div>
              
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-5" >
                  <label class="col-form-label" for="appendedInputButton">B Side IP VPN:</label>
                </div>
                <div class="col-sm-1"><input type="checkbox"  class="testPSAP" /></div>
                <div class="col-sm-5">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control" type="text" class="form-control" name="testcase.alternatePSAP.bsideipvpn" [(ngModel)]="testcase.alternatePSAP.bsideipvpn" #_bsideipvpn="ngModel">
                      <!-- <span class="help-block" *ngIf="!_code.valid && _code.touched">Please enter Agency Code</span> -->
                      <!-- <input type="checkbox"  class="testPSAP"/> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-2">
                <div class="row">
                  <div class="col-sm-9"  style="text-align: right;; margin-left: -25px">
                    <label class="col-form-label" for="appendedInputButton">Round Robin:</label>
                  </div>
                  <div class="col-sm-2">
                    <div class="controls">
                      <div class="input-group">
                        <input type="checkbox"  class="testPSAP"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6" style="margin-left: 100px;">
                <button type="submit" value="Submit" class="btn btn-primary submitBtn"  [disabled]="!notificationForm.valid">Submit</button>
            </div>
              
            <div class="col-sm-6" style="margin-left: -311px;">
                <button type="button" value="Send Location" class="btn btn-primary submitBtn"  [disabled]="!notificationForm.valid">Send Location</button>
            </div>
          </div>
            
            
        </form>
      </div>
    </div>
  </div>
</div>