<div id="loader-wrapper" *ngIf="loading">
  <div id="loader"></div>
</div>
<div class="alertDiv">
  <app-alert></app-alert>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="notification">
      <!-- <h3>Notifications</h3> -->
      <div class="notificationFields" style="text-align:right;">
        <form class="form-horizontal" (ngSubmit)="onSubmit()" #notificationForm="ngForm">
            <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-5 col-5">
                      <label class="col-form-label" for="appendedInputButton">Service Id:</label>
                    </div>
                    <div class="col-sm-5 col-7">
                      <div class="controls">
                          <div class="input-group">
                              <input class="form-control" type="Email" class="form-control" name="serviceId.serviceId" [(ngModel)]="serviceId.serviceId" required #_serviceId="ngModel">
                              <span class="help-block" *ngIf="!_serviceId.valid && _serviceId.touched">Please enter Service Id</span>
                            </div>
                      </div>
                    </div>
                  </div>            
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-5 col-6"  style="text-align: right;">
                    <label class="col-form-label" for="appendedInputButton">Test Data:</label>
                  </div>
                  <div class="col-sm-6 col-6">
                    <div class="controls">
                      <div class="input-group">
                        <input type="checkbox" style = " margin-top: 10px;"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                
              </div>
              
              <div class="form-group row">
                  <div class="col-sm-6">
                      <div class="row">
                          <div class="col-sm-5 col-5">
                              <label class="col-form-label" for="appendedInputButton">Name Kana:</label>
                            </div>
                            <div class="col-sm-5 col-7">
                              <div class="controls">
                                <div class="input-group">
                                  <input class="form-control" type="Email" class="form-control" name="serviceId.nameKana" [(ngModel)]="serviceId.nameKana" required #_nameKana="ngModel">
                                  <span class="help-block" *ngIf="!_nameKana.valid && _nameKana.touched">Please enter Name Kana</span>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-5 col-5">
                          <label class="col-form-label" for="appendedInputButton">Name Kanji:</label>
                        </div>
                        <div class="col-sm-5 col-7">
                          <div class="controls">
                            <div class="input-group">
                              <input class="form-control" type="Email" class="form-control" name="serviceId.nameKanji" [(ngModel)]="serviceId.nameKanji" required #_nameKanji="ngModel">
                              <span class="help-block" *ngIf="!_nameKanji.valid && _nameKanji.touched">Please enter Name Kanji</span>
                            </div>
                          </div>
                        </div>
                  </div>            
                </div>
                
              </div>
    
              <div class="form-group row">
                <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-5 col-5">
                          <label class="col-form-label" for="appendedInputButton">Building Name:</label>
                        </div>
                        <div class="col-sm-5 col-7">
                          <div class="controls">
                            <div class="input-group">
                              <input class="form-control" type="text" class="form-control" name="serviceId.buildingName" [(ngModel)]="serviceId.buildingName" required #buildingName="ngModel">
                              <!-- <span class="help-block" *ngIf="!_addressCode.valid && _addressCode.touched">Please enter Address Code</span> -->
                            </div>
                          </div>
                        </div>
                  </div>            
                </div>
                <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-5 col-5">
                          <label class="col-form-label" for="appendedInputButton">House Number:</label>
                        </div>
                        <div class="col-sm-5 col-7">
                          <div class="controls">
                            <div class="input-group">
                              <input class="form-control" type="text" class="form-control" name="serviceId.houseNumber" [(ngModel)]="serviceId.houseNumber" required #_houseNumber="ngModel">
                              <!-- <span class="help-block" *ngIf="!_addressCode.valid && _addressCode.touched">Please enter Address Code</span> -->
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
    
              <div class="form-group row">
                  <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-5 col-5">
                          <label class="col-form-label" for="appendedInputButton">Address Code:</label>
                        </div>
                        <div class="col-sm-5 col-7">
                          <div class="controls">
                            <div class="input-group">
                              <input class="form-control" type="text" class="form-control" name="serviceId.addressCode" [(ngModel)]="serviceId.addressCode" required #_addressCode="ngModel">
                              <span class="help-block" *ngIf="!_addressCode.valid && _addressCode.touched">Please enter Address Code</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-5 col-5">
                          <label class="col-form-label" for="appendedInputButton">Address:</label>
                        </div>
                        <div class="col-sm-5 col-7">
                          <div class="controls">
                            <div class="input-group">
                              <input class="form-control" type="text" class="form-control" name="serviceId.address" [(ngModel)]="serviceId.address" required #_address="ngModel">
                              <!-- <span class="help-block" *ngIf="!_addressCode.valid && _addressCode.touched">Please enter Address Code</span> -->
                            </div>
                          </div>
                        </div>
                  </div>            
                </div>
                
              </div>
              <div class="form-group row">
               
                <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-5 col-5">
                          <label class="col-form-label" for="appendedInputButton">OTG:</label>
                        </div>
                        <div class="col-sm-5 col-7">
                          <div class="controls">
                            <div class="input-group">
                              <input class="form-control" type="text" class="form-control" name="serviceId.address" [(ngModel)]="serviceId.address" required #_address="ngModel">
                              <!-- <span class="help-block" *ngIf="!_addressCode.valid && _addressCode.touched">Please enter Address Code</span> -->
                            </div>
                          </div>
                        </div>
                  </div>            
                </div>
                <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-5 col-5">
                          <label class="col-form-label" for="appendedInputButton">Group Status:</label>
                        </div>
                        <div class="col-sm-5 col-7">
                            <div class="controls">
                                <select class="form-control" id="serviceId.groupStatus">
                                <option value="null" selected="selected">--Group Status--</option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                              </select>
                              <!-- <span class="help-block" *ngIf="!type.valid && type.touched">Please enter a type</span> -->
                              </div>
                        </div>
                  </div>
                </div>
              </div>
          
              <!-- <button type="submit" value="Submit" class="btn btn-primary submitBtn"  [disabled]="!notificationForm.valid">Submit</button> -->
          <button type="submit" value="Submit" class="btn btn-primary submitBtn"  [disabled]="!notificationForm.valid" style="margin-right: 448px">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>