<div id="loader-wrapper" *ngIf="loading">
  <div id="loader"></div>
</div>
<div class="alertDiv">
  <app-alert></app-alert>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="notification">
      <!-- <h3>Notifications</h3> -->
      <div class="notificationFields">
        <form class="form-horizontal" (ngSubmit)="onSubmit()" #notificationForm="ngForm">
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">Agency Type:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <div class="controls">
                    <select class="form-control" name="psap.type" [(ngModel)]="psap.type"  required
                    #_screen="ngModel">
                    <option [ngValue]="null">--Select Agency Type--</option>
                    <option *ngFor="let type of agencyTypes;let i = index;" [ngValue]="type">{{type.name}}</option>
                  </select>
                  <!-- <span class="help-block" *ngIf="!type.valid && type.touched">Please enter a type</span> -->
                  </div>
                </div>
              </div>            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">Test PSAP:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <div class="controls">
                    <div class="input-group">
                      <input type="checkbox" name="psap.test" [(ngModel)]="psap.test" class="testPSAP"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">Name:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <input class="form-control" type="Email" class="form-control" name="psap.name" [(ngModel)]="psap.name" required #_name="ngModel">
                  <span class="help-block" *ngIf="!_name.valid && _name.touched">Please enter a Name</span>
                </div>
              </div>            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">Code:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control" type="Email" class="form-control" name="psap.code" [(ngModel)]="psap.code" required #_code="ngModel">
                      <span class="help-block" *ngIf="!_code.valid && _code.touched">Please enter Agency Code</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">Access Number 1:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <input class="form-control" type="Email" class="form-control" name="psap.accessnumber1" [(ngModel)]="psap.accessnumber1" required #_name="ngModel">
                  <span class="help-block" *ngIf="!_name.valid && _name.touched">Please enter a Number</span>
                </div>
              </div>            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">Access Number 2:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control" type="Email" class="form-control" name="psap.accessnumber2" [(ngModel)]="psap.accessnumber2" required #_code="ngModel">
                      <span class="help-block" *ngIf="!_code.valid && _code.touched">Please enter Agency Code</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">IP Address 1:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <input class="form-control" type="Email" class="form-control" name="psap.ipaddress1" [(ngModel)]="psap.ipaddress1" required #_name="ngModel">
                  <span class="help-block" *ngIf="!_name.valid && _name.touched">Please enter a Name</span>
                </div>
              </div>            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3 col-5">
                  <label class="col-form-label" for="appendedInputButton">IP Address 2:</label>
                </div>
                <div class="col-sm-5 col-7">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control" type="Email" class="form-control" name="psap.ipaddress2" [(ngModel)]="psap.ipaddress2" required #_code="ngModel">
                      <span class="help-block" *ngIf="!_code.valid && _code.touched">Please enter Agency Code</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" value="Submit" class="btn btn-primary submitBtn"  [disabled]="!notificationForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>