<div id="loader-wrapper" *ngIf="loading">
  <div id="loader"></div>
</div>
<div class="alertDiv">
  <app-alert></app-alert>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="notification">
      <!-- <h3>Notifications</h3> -->
      <div class="notificationFields" style="text-align: right;">
        <form class="form-horizontal" (ngSubmit)="onSubmit()" #notificationForm="ngForm">
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5 col-5">
                  <label class="col-form-label" for="appendedInputButton">Agency Type:</label>
                </div>
                <div class="col-sm-6 col-7">
                  <div class="controls">
                    <select class="form-control" name="psap.type" [(ngModel)]="psap.type"  required
                    #_screen="ngModel">
                    <option [ngValue]="null">--Agency Type--</option>
                    <option *ngFor="let type of agencyTypes;let i = index;" [ngValue]="type.id">{{type.name}}</option>
                  </select>
                  <!-- <span class="help-block" *ngIf="!type.valid && type.touched">Please enter a type</span> -->
                  </div>
                </div>
              </div>            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5 col-5">
                  <label class="col-form-label" for="appendedInputButton">Code:</label>
                </div>
                <div class="col-sm-6 col-7">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control" type="Email" class="form-control" name="psap.code" [(ngModel)]="psap.code" required #_code="ngModel">
                      <span class="help-block" *ngIf="!_code.valid && _code.touched">Please enter Agency Code</span>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5 col-5">
                  <label class="col-form-label" for="appendedInputButton">Name:</label>
                </div>
                <div class="col-sm-6 col-7">
                  <input class="form-control" type="text" class="form-control" name="psap.name" [(ngModel)]="psap.name" required #_name="ngModel">
                  <span class="help-block" *ngIf="!_name.valid && _name.touched">Please enter a Name</span>
                </div>
              </div>            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5 col-5">
                  <label class="col-form-label" for="appendedInputButton">Kinku Kikan Name:</label>
                </div>
                <div class="col-sm-6 col-7">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control" type="text" class="form-control" name="psap.kinkukikanname" [(ngModel)]="psap.kinkukikanname" required #_kinkukikanname="ngModel" >
                      <span class="help-block" *ngIf="!_kinkukikanname.valid && _kinkukikanname.touched">Please enter Kinku Kikan Name</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5">
                    <label class="col-form-label" for="appendedInputButton">Access Number 1:</label>
                  </div>
                  <div class="col-sm-1"><input type="checkbox"  class="testPSAP" name="psap.accessnumber1enabled" [(ngModel)]="psap.accessnumber1enabled"/></div>
                  <div class="col-sm-5">
                    <input class="form-control" type="Email" class="form-control" name="psap.accessnumber1" [(ngModel)]="psap.accessnumber1" required #_accessnumber1="ngModel">
                    <span class="help-block" *ngIf="!_accessnumber1.valid && _accessnumber1.touched">Please enter access number</span>
                    
                  </div>
                  
  
                </div>            </div>
                
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5" >
                    <label class="col-form-label" for="appendedInputButton">Access Number 2:</label>
                  </div>
                  <div class="col-sm-1"><input type="checkbox"  class="testPSAP" name="psap.accessnumber2enabled" [(ngModel)]="psap.accessnumber2enabled"/></div>
                  <div class="col-sm-5">
                    <div class="controls">
                      <div class="input-group">
                        <input class="form-control" type="Email" class="form-control" name="psap.accessnumber2" [(ngModel)]="psap.accessnumber2"  #_accessnumber2="ngModel">
                        <!-- <span class="help-block" *ngIf="!_accessnumber2.valid && _accessnumber2.touched">Please enter access number</span> -->
                        <!-- <input type="checkbox"  class="testPSAP"/> -->
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!-- <div class="col-sm-1"></div> -->
              <div class="col-sm-2">
                  <div class="row">
                    <div class="col-sm-9"  style="text-align: right; margin-left: -25px">
                      <label class="col-form-label" for="appendedInputButton">Round Robin:</label>
                    </div>
                    <div class="col-sm-2">
                      <div class="controls">
                        <div class="input-group">
                          <input type="checkbox"  class="testPSAP" name="psap.accessnumberroundrobin" [(ngModel)]="psap.accessnumberroundrobin"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

          <div class="form-group row">
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-5">
                  <label class="col-form-label" for="appendedInputButton">A Side IP VPN:</label>
                </div>
                <div class="col-sm-1"><input type="checkbox"  class="testPSAP" name="psap.asideipvpnenabled" [(ngModel)]="psap.asideipvpnenabled"/></div>
                
                <div class="col-sm-5">
                  <input class="form-control" type="text" class="form-control" name="psap.asideipvpn" [(ngModel)]="psap.asideipvpn" required #_asideipvpn="ngModel">
                  <span class="help-block" *ngIf="!_asideipvpn.valid && _asideipvpn.touched">Please enter VPN Info</span>
                  
                </div>
                
              </div>            </div>
              
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-5" >
                  <label class="col-form-label" for="appendedInputButton">B Side IP VPN:</label>
                </div>
                <div class="col-sm-1"><input type="checkbox"  class="testPSAP" name="psap.bsideipvpnenabled" [(ngModel)]="psap.bsideipvpnenabled"/></div>
                
                <div class="col-sm-5">
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control" type="text" class="form-control" name="psap.bsideipvpn" [(ngModel)]="psap.bsideipvpn" #_bsideipvpn="ngModel">
                      <!-- <span class="help-block" *ngIf="!_code.valid && _code.touched">Please enter Agency Code</span> -->
                      <!-- <input type="checkbox"  class="testPSAP"/> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-2">
                <div class="row">
                  <div class="col-sm-9"  style="text-align: right;; margin-left: -25px">
                    <label class="col-form-label" for="appendedInputButton">Round Robin:</label>
                  </div>
                  <div class="col-sm-2">
                    <div class="controls">
                      <div class="input-group">
                        <input type="checkbox"  class="testPSAP" name="psap.ipvpnroundrobin" [(ngModel)]="psap.ipvpnroundrobin"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          

          <button type="submit" value="Submit" class="btn btn-primary submitBtn"  [disabled]="!notificationForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>