// Here you can add other styles
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body{
    font-family: 'Montserrat', sans-serif !important;
}

.bs-datepicker{    
      z-index: 99999999999!important;
    }
   
  /* start preloader */

  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)); */
    background: rgba(0, 0, 0, 0.5);
    }
    #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
    0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
    }
    @keyframes spin {
    0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
    }
    /* end preloader */
.linkHover{
    color:#3498db;
    cursor: pointer;
}
.heightTop{
    margin-top: 15px !important;
}
.tableText thead tr th{
  font-size: 12px;
}

.tableText tbody tr td{
    font-size: 12px;
}
.textCenterTable thead tr th{
    text-align: center !important;
}
.textCenterTable tbody tr td{
    text-align: center !important;
}

.textCenterNowrapTable thead tr th{
    text-align: center !important;
    white-space: nowrap !important;
}
.textCenterNowrapTable tbody tr td{
    text-align: center !important;
    white-space: nowrap !important;
}
@media only screen and (max-width:768px){

    .input-group .form-control{
        z-index: 0 !important;
    }
}
.alertDiv{
    position: absolute;
    z-index: 9999999999;
    width: 25%;
    text-align: center;
    left: 37%;
    top: 25%;
  }
  .noMarginpadding{
      margin-top: 0; padding-top: 0;
      margin-bottom: 0; padding-bottom: 0;
  }
  input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    border: 1px solid red; 
  }
  .help-block{
      font-size:11px;
      color:red;
      text-align: left;
      position: absolute;
      bottom: -18px
  }
  .help-block.date{
      bottom: 0;
  }
  .displayNone{
      display: none;
  }
    
  .hoverLink{
      cursor: pointer;
      color:#3498db !important;

  }
  .hoverLink:hover{
   text-decoration: underline !important;
  }
  .hover{
      cursor: pointer !important;
      font-weight: bold !important;
  }
   .seprtr{
       border-bottom: 1px solid #ccc;
       padding: 10px 0 5px 0;
   }
   .addValue{
        border: 1px solid #3b4a52;
        border-radius: 50%;
        font-size: 25px;
        line-height: 23px;
        height: 30px;
        display: inline-block;
        width: 30px;
        margin: 10px 0 0;
        cursor: pointer;
   }
   .notification {
        max-width: 1000px;
        width: 100%;
        margin: auto;
        border: 1px solid #5bafe0;
        background: #fff;
    }
    .notification .form-group {
        margin-bottom: 2rem;
    }
    .notification .notificationFields{
        padding: 20px 10px;
    }
   .notification h3 {
    text-align: center;
    padding: 10px 0;
    display: block;
    color: #fff;
    background: #5bafe0;
    font-weight: normal;
}
.notification input[type="Email"] + input[type="checkbox"] {
    margin: 10px 0 0 10px;
    display: inline-block;
}
.userExchange{
    margin: 20px 0 0;
}
.nopadding{
    padding: 0;
}
.nopadding-left{
    padding-left: 0
}
.nopadding-right{
    padding-right: 0
}
.userExchange .userList,
.selectedPackage,
.availablePackage .couponList {
    border: 1px solid #b3b3b3;
    padding: 10px 10px 0;
    min-height: 120px;
    max-height: 120px;
    overflow: auto;
}
.userExchange .controls,
.couponPortal .controls {
    margin: 65px 0 0;
}
.addControls span{
    margin-top: 60px;
    cursor: pointer;
}
.userList option:first-child,
.userList p:first-child,
.selectedPackage p:first-child,
.availablePackage option:first-child {
    padding-top: 0;
}
.userList option:last-child,
.userList p:last-child,
.selectedPackage p:last-child,
.availablePackage option:last-child{
    border-bottom:none;
}
.userList option,
.userList p,
.selectedPackage p,
.availablePackage option {
    border-bottom: 1px solid #98cfff;
    margin: 0;
    padding: 5px 0;
    position: relative;
    font-size: 12px;
}
.selectedUsers .removeItem,
.selectedPackage .removeItem{
    cursor: pointer;
    float: right;
    position: absolute;
    top: 5px;
    right: 0;
}
.selectedUsers,
.selectedPackage {
    background: #fff;
}
.selectedUsers .removeItem::before,
.selectedPackage .removeItem::before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F00D";
    float: right;
}
.allUsers{
    margin: 10px 0 0;
}
.userExchange {
    margin: 20px auto 0;
    width: calc(100% - 30px);
}
.form-group.userInformation[hidden],
.fadeEffect[hidden],
.userExchange[hidden] {
    opacity: 0;
    transition: 0.5s ease-in-out all;
    height: 0;
    margin: 0;
    display: block !important;
}
.form-group.userInformation,
.fadeEffect,
.userExchange {
    opacity: 1;
    transition: .5s ease-in-out all;
    display: block;
    height: 100%;
    display: block !important;
}
.selected {
    color: #3e3e3e;
    opacity: 0.5;
}

@media screen and (max-width:767px) {
    .nopadding-left,
    .nopadding-right{
        padding: 0;
    }
    .userExchange .controls {
        margin: 15px 0 0;
    }
    .data-table {
        width: 1200px;
        overflow: auto;
    }
    .data-table,
    .table-responsive{
        overflow-x: scroll !important;
    }
    .otherInfo{
        text-align: left !important;
    }
    .pagination-controllers{
        margin: 10px 0;
    }
}
.modal-info .modal-header {
    background-color: #5bafe0;
}
.modal-info .modal-content {
    border: 0;
}
.couponPortal h2{
    font-size: 20px;
}
.couponPortal h4 {
    font-size: 18px;
    color: #5bafe0;
    margin-top: 30px;
}
.couponPortal .fa-close{
    color: #fff;
}
.glyphicon {
    border-style: solid;
    display: block;
    width: 9px;
    height: 9px;
    position: relative;
    border-width: 3px 0px 0 3px;
}
.glyphicon-chevron-up {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 2px;
}
.glyphicon-chevron-down {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 2px;
}
.danger p{
    margin: 0;
}
.data-table th{
    background: #336699;
    /* border-bottom: 2px solid #20a8d8 !important; */
    color: #fff;
    font-weight: 500;
}
.allCouponList .fa.fa-sort{
    color: #fff !important;
}
.data-table th,
.data-table td {
    font-size: 12px;
    text-align: center;
}

.pagination-controllers .input-group-addon,
.pagination-controllers .input-group .form-control {
    font-size: 12px !important;
}
.pagination-controllers select.form-control {
    height: calc(1.7rem + 2px) !important;
}
.pagination-controllers .form-control,
.pagination-controllers .btn{
    padding: 0.175rem 0.75rem !important;
}
.pagination-controllers .input-group-addon[_ngcontent-c4],
.pagination-controllers .input-group-btn[_ngcontent-c4]{
    padding: 4px 12px;
}
.pagination-controllers .input-group-addon[_ngcontent-c4]:last-child{
    margin-left: 3px;
}
.pagination-controllers .btn.disabled,
.pagination-controllers .btn:disabled {
    opacity: .55;
}
.pagination-controllers .btn {
    background: #3891b1;
    color: #fff;
}
span.col-md-12.w-100 {
    display: block;
}
.breadcrumb{
    margin-bottom: 0.5rem;
}
.card-body, .card-block{
    padding: 0.5rem 1.25rem;
}
.otherInfo{
    margin: 5px 0 0
}
.otherInfo b{
    font-weight: 600;
}
.allAstroList .column-name div{
    text-transform: capitalize;
}

.online{
    color: #38b338;
    font-weight: bold;
}
.offline{
    color:rgba(62, 57, 51, 0.7);
    font-weight: bold;
}
.dnd {
    color: #f19e07;
    font-weight: bold;
}
.busy {
    color: #fd5151;
    font-weight: bold;
}

/* ng Select */
.ui-select-toggle[_ngcontent-wsp-5] {
    position: relative;
  }

  
  .ui-select-placeholder[_ngcontent-wsp-5] {
    float: left;
  }
  
  
  .input-group[_ngcontent-wsp-5]    > .dropdown[_ngcontent-wsp-5] {
    
    position: static;
  }
  
  .ui-select-match[_ngcontent-wsp-5]    > .btn[_ngcontent-wsp-5] {
    
    text-align: left !important;
  }
  
  .ui-select-match[_ngcontent-wsp-5]    > .caret[_ngcontent-wsp-5] {
    position: absolute;
    top: 45%;
    right: 15px;
  }
  
  .ui-disabled[_ngcontent-wsp-5] {
    background-color: #eceeef;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.6;
    top: 0;
    left: 0;
    cursor: not-allowed;
  }
  
  .ui-select-choices[_ngcontent-wsp-5] {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: 0;
  }
  
  .ui-select-multiple[_ngcontent-wsp-5]   .ui-select-choices[_ngcontent-wsp-5] {
    margin-top: 1px;
  }
  .ui-select-choices-row[_ngcontent-wsp-5] > a[_ngcontent-wsp-5] {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
  }
  .ui-select-choices-row.active[_ngcontent-wsp-5] > a[_ngcontent-wsp-5] {
      color: #fff;
      text-decoration: none;
      outline: 0;
      background-color: #428bca;
  }
  
  .ui-select-multiple{
    height: auto;
    padding:0.375rem 0.75rem !important;
  }
  
  .ui-select-multiple input.ui-select-search{
    background-color: transparent !important; 
    border: none;
    outline: none;
    box-shadow: none;
    height: auto !important;
    padding: 0;
    margin-bottom: 0!important ;
    
  }
  .ui-select-match[_ngcontent-wsp-5]   .close[_ngcontent-wsp-5] {
      font-size: 1.6em;
      line-height: 0.75;
  }
  
  .ui-select-multiple[_ngcontent-wsp-5]   .ui-select-match-item[_ngcontent-wsp-5] {
    outline: 0;
    margin: 0 3px 3px 0;
  }
  .ui-select-toggle[_ngcontent-wsp-5]    > .caret[_ngcontent-wsp-5] {
      position: absolute;
      height: 10px;
      top: 50%;
      right: 10px;
      margin-top: -2px;
  }
  .open>.dropdown-menu {
    display: block;
    }

.ui-select-multiple .btn-secondary{
    background: #ddd !important;
    padding: 2px 4px !important;
    font-size: 12px !important;
}


.userDetail,
.astroDetail{
    position: relative;
}
.userDetail .open,
.astroDetail .open{
    width: 350px;
    max-height: 350px;
    overflow: auto;
    background: #fff;
}
.astroDetail .open{
    width: 100%;
}
.userDetail .open p,
.astroDetail .open p{
    font-size: 12px;
    margin: 0;
}
.title{
    margin: 5px 0 0 0 !important;
}
.data-table-box{
    clear: both;
}
.input-group-addon{
    padding: 4px 12px !important;
}
body .alert.danger {
    color: #3c763d;
    background-color: rgba(0, 0, 0, 0.67) !important;
    border: none;
    position: fixed;
    max-width: 380px;
    width: 100%;
    text-align: center;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.42);
    padding: 10px 0;
    top: 0;
    left:50%;
    transition: all 2s ease !important;
    transform: translate(-50%,0);
    animation-name: alertMsg;
    animation-duration: 0.5s;
    color: #fff;
}
body .alert.success {
    color: #3c763d;
    background-color: rgba(0, 0, 0, 0.67) !important;
    border: none;
    position: fixed;
    max-width: 380px;
    width: 100%;
    text-align: center;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.42);
    padding: 10px 0;
    top: 0;
    left:50%;
    transition: all 2s ease !important;
    transform: translate(-50%,0);
    animation-name: alertMsg;
    animation-duration: 0.5s;
}
@keyframes alertMsg {
    from {top:-75px;}
    to {top: 0;}
}
.alert.success p {
    color: #fff;
    margin: 0;
    font-size: 16px;
}
.submitBtn{
    font-size: 17px !important;
    line-height: normal;
    padding: 8px 20px !important;
}
.header-container{
    margin: auto;
    width: 100%;
    padding: 0 20px;
}
.app-header.navbar .navbar-brand{
    width: 100px;
}
.app-header.navbar .navbar-toggler {
    position: absolute;
    left: 0;
    top: 15px;
}
.userLogin{
    margin: 15px 0 0;
    font-size: 16px;
}
.userLogin i{
    margin-left: 10px;
    font-size: 20px;
}
span.userName {
    font-weight: 600;
    color: #5e83a9;
}
span.signOut {
    cursor: pointer;
}
.userLogin .dropdown-menu{
    text-align: right;
    padding: 7px 10px !important;
    border: none;
    margin: 10px 0 0;
    background: #1bb0dc;
    color: #fff;
    min-width: auto
}

.sidebar .nav-link i, .sidebar .navbar .dropdown-toggle i, .navbar .sidebar .dropdown-toggle i{
    color: rgba(255, 255, 255, 0.5);
}
.dropdown-menu.dropdown-menu-right.show:before {
    content: '';
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #1bb0dc transparent;
    right: 35%;
    transform: translate(-50%,0);
}
.table td{
    vertical-align: middle
}